<div class="jumbotron">
    <h1 class="display-4">Siliconera Scrapper</h1>
    <p class="lead">A website that scrapes the current articles from Siliconera.com</p>
    <button class="btn btn-outline-success scrapeBtn" type="button">Scrape Articles</button>

</div>

<div class="articleList"></div>

<script src="app.js"></script>