.jumbotron {
    background-image: url("./images/01.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    color: white;
    text-align: center;
    height: 500px;
}

.scrapeBtn, .removeBtn {
    margin-top: 50px;
}

.article {
    margin-top: 15px;
    margin-left: 15px;
}

.imageScrape {
    border-radius: 20px;
}

h2 {
    text-align: center;
}

body {
    background-image: url("./images/02.jpg");
}

.articleScrape {
    color: white;
    border: solid 5px;
    background-color: #246b91;
    margin: 10px;
    border-radius: 25px;
}

.commentBtn, linkBtn {
    border-radius: 20px;
    margin-top: 10px;
}

.imageScrape {
    float: left;
}

#modalTitle, #comment {
    text-align: center;
}

.deleteBtn {
    margin-left: 20%
}